{% extends "base.html" %}

{% block content %}

<section class="filter-buttons-container sub-header-background">
    <button class="filter-buttons">All</button>
    <button class="filter-buttons">HTML</button>
    <button class="filter-buttons">CSS</button>
    <button class="filter-buttons">JavaScript</button>
    <button class="filter-buttons">Python</button>
    <button class="filter-buttons">Django</button>
</section>

{{ snippets_json|json_script:"snippets" }}

{% for snippet in snippets %}
<div class="">    
    <div id="main-container" class="main-background-container">
        
    </div>
</div>
    {% endfor %}
{% endblock %}