{% extends "base.html" %}

{% block content %}
{% for snippet in snippets %}
<div class="">    
    <div class="main-background-container">
        <div class="main-snippet-list-container">    
            <div class="snippet-title">
                <p><a class="snippet-title-font" href="{% url 'snippet_details' pk=snippet.pk %}">{{ snippet.title }}</a></p>
            </div>
            <div class="snippet-extras">
                <p>Last Updated</p>
                <p>{{ snippet.created_on }}</p>
            </div>
            <div class="snippet-extras">
                <p>Author</p>
                <p>{{ snippet.user }}</p>
            </div>
            <div class="snippet-extras">
                    <p>Category</p>
                    <p>{{ snippet.category }}</p>
            </div>
        </div>
    </div>
</div>
    {% endfor %}
{% endblock %}